<!--Navbar css starts-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
    mat-toolbar{
        background-color: rgb(91, 0, 137);
    }
    .example-spacer {
        flex: 1 1 auto;
    }
</style>
<!--Navbar css ends-->
<!--Navbar starts-->
<mat-toolbar color="red" >
    <p style="font-family: Covered By Your Grace;color: aliceblue  ;font-size:1.25cm;"><img src="../../../assets/logo.png" style="width: 1.4cm; height:1.1cm ;" >Jasper Portal</p>
    <span class="example-spacer"></span>
</mat-toolbar>
<!--Navbar end-->